@page "/employeeedit"
@page "/employeeedit/{EmployeeId}"
@inherits EmployeeEditBase

<section class="employee-edit">
    <h1 class="page-title"> Details for @Employee.FirstName @Employee.LastName</h1>

    <EditForm Model="@Employee">
        <div class="form-group row">
            <label for="lastName" class="col-sm-3">Last Name: </label>
            <InputText id="lastName" @bind-Value="@Employee.LastName" class="form-control col-sm-8" placeHolder="Enter last Name"></InputText>

        </div>
        <div class="form-group row">
            <label for="firstName" class="col-sm-3">First Name: </label>
            <InputText id="firstName" @bind-Value="@Employee.FirstName" class="form-control col-sm-8" placeHolder="Enter first Name"></InputText>
        </div>

        <div class="form-group row">
            <label for="birthday" class="col-sm-3">BirthDay: </label>
            <InputDate id="birthday" @bind-Value="@Employee.BirthDate" class="form-control col-sm-8"></InputDate>
        </div>

        <div class="form-group row">
            <label for="zip" class="col-sm-3">Zip: </label>
            <InputNumber id="countryId" @bind-Value="@Employee.CountryId" class="form-control col-sm-8"></InputNumber>
        </div>
    </EditForm>
</section>
